* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.centro {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 25em;
    margin: 5em 0;
}